* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../assets//glassesImage/background.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100vw;
}
